:local(.button) {
  text-align: center;
  border-radius: 3px;
  background-color: #F06544;
  color: white;
  padding: 15px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  border: none;
}

:local(.button:hover) {
  cursor: pointer;
  background-color: #D74C2B;
}
