:local(.answer) {
  padding: 15px;
  border-bottom: 1px solid #edeeee;
}

:local(.answer:first-child) {
  border-top: 1px solid #edeeee;
}

:local(.answer--good) {
  background-color: rgba(165, 220, 134, 0.24);;
}

:local(.answer--bad) {
  background-color: rgba(242, 116, 116, 0.24);
}

:local(.answer__content) {
  margin-left: 10px;
}
