:local(.dropzone) {
  padding: 35px;
  border: dashed 2px #edeeee;
  height: 150px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 1.5em;
  color: #A9A9A9;
  box-sizing: border-box;
}

:local(.dropzone--active) {
  outline: none;
  border: solid 1px #edeeee;
  box-shadow: 0 0 5px 1px #ECECEC;
}
